apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb-deployment
spec:
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
        - name: mongodb
          image: mongo:4.2.8
          ports:
            - name: http
              containerPort: 27017
              protocol: TCP
          resources:
            requests:
              memory: "256Mi"
              cpu: "1000m"
            limits:
              memory: "256Mi"
              cpu: "1000m"
          envFrom:
            - secretRef:
                name: mongodb-secret
---
apiVersion: v1
kind: Service
metadata:
   name: mongo-service
spec:
  selector:
    app: mongodb
  ports:
    - name: http
      protocol: TCP
      port: 27017
      targetPort: 27017
  type: ClusterIP